body{
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    border-radius: 50%;
    padding: 30px;
}
h2{
    color:black;
    font-size: 40px;
    left: 0;
}
.nav-container{
    background-color:rgb(14, 227, 14);
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black;
    position: sticky;
    top: 0;
    z-index: 3;
}
.links1{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 2dvb;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
ul li{
    color: black;
    list-style: none;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 25px;
}
ul li a{
    text-decoration: none;
    color:black;
    padding: 10px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
ul li a:hover{
    cursor: pointer;
    color: yellow;
    background-color: rgb(13, 12, 12);
    border-radius: 20px;
    font-weight: bolder;
}
/* ------------------------------------------------------ */
.main-container{
    width:100%;
    padding-top: 30px;
    z-index: 0;
    position: relative;
}
.img-1{
    height: 600px;
    position: relative;
}
h4{
    position: absolute;
    color: rgb(29, 58, 22);
    font-size: 35px;
    left: 750px;
    top: 120px;
}
.btn-1{
    position: absolute;
    left: 280px;
    top: 350px;
    font-size: 25px;
    font-weight: bold;
    background-color:bisque;
    color:  rgb(29, 58, 22);
    border-color:rgb(29, 58, 22) ;
    border-radius: 10px;
}
.btn-1:hover{
    color: yellow;
    background-color: black;
    cursor: pointer;
    font-weight: bolder;
}
.para-1{
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.para-2{
    font-size: 25px;
    text-align: center;
}
.image{
    width: 60%;
    height: 500px;
}
/* -------------------------4 Boxes---------------------------- */
.sub-container-2{
    width: 100%;
    height: 540px;
    display: flex ;
    background-color:lightpink;
}
.container1{
    width: 335px;
    height: 500px;
    border: 2px solid grey;
    border-radius: 15px;
    margin-left: 27px;
    margin-top: 15px;
    align-items: center;
    background-color: white;
}
.content1{
    width: 250px;
    height: 180px;
    border: 2px solid orangered;
    border-radius: 15px;
    box-shadow: -10px -10px  orangered;
    margin-left: 40px;
    margin-right:45px ;
    margin-top: 30px;
}
.content2{
    width: 250px;
    height: 180px;
    border: 2px solid rgb(60, 126, 201);
    border-radius: 15px;
    box-shadow: -10px -10px  rgb(60, 126, 201);
    margin-left: 40px;
    margin-right:45px ;
    margin-top: 30px;
}
.content3{
    width: 250px;
    height: 180px;
    border: 2px solid rgb(31, 197, 23);
    border-radius: 15px;
    box-shadow: -10px -10px  rgb(31, 197, 23);
    margin-left: 40px;
    margin-right:45px ;
    margin-top: 30px;
}
.content4{
    width: 250px;
    height: 180px;
    border: 2px solid rgb(203, 6, 6);
    border-radius: 15px;
    box-shadow: -10px -10px rgb(203, 6, 6);
    margin-left: 40px;
    margin-right:45px ;
    margin-top: 30px;
}
.para-3{ 
    font-size: 17px;
    text-align: center;
}
.h1{
    text-align: center;
    font-size: 25px;
}
h3{
    text-align: center;
    font-weight: lighter;
}
.img-2{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    height: 180px;
}
/* ----------------------------------------------------------------- */
.sub-container-3{
    position: relative;
}
.img-3{
    position: relative;
}
.para{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
h5{
    position: absolute;
    font-size: 65px;
    color: white;
    font-weight: bolder;
    left: 300px;
    top:150px ;
    text-align: center;
}
.para-4{
    position: absolute;
    color: white;
    font-size: 30px;
    text-align: center;
    left: 200px;
    top:320px ;
}
.btn-2{
    position: absolute;
    color: rgb(5, 90, 186);
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    border-color:rgb(5, 90, 186) ;
    left: 635px;
    top: 470px;
}
.btn-2:hover{
    background-color: rgb(4, 107, 107);
    color: white;
    border-color: rgb(4, 107, 107);
    cursor: pointer;
    }
/* ------------------------------------------------------------- */
.footer-container{
    width: 100%;
    height: 500px;
    margin: 10px 10px 10px 10px;
    background-color: rgb(201, 246, 187);
    margin-top: 50px;
}
.content-container{
    display: flex;
    justify-content: space-evenly;
}
.sub-content{
    display: grid;
}
.c1{
    margin-top: 25px;
    padding: 10px;
    font-size: 25px;
}
.c2{
    display: flex;
    margin-top: 20px;
    
}
.c3{
    margin-top: 40px;
}
.img-4{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top:20px ;
}
.para-5{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}
.p{
    font-family: roboto;
    font-weight: bold;
    font-size: 22px;
}
p{
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
/* --------------------------------------icons--------------------------- */
.icons{
    display: flex;
    padding-top: 50px;
    padding-left: 100px;    
}
 .icon1{
    padding-right: 50px;
    display: flex;
    justify-content: space-around;
}
/* --------------------------------download--------------------------- */
.download{
    padding-left: 600px;
    display: flex;
    justify-content: space-between;
}
.down1{
    display: flex;
    width: 180px;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom:5px;
    border: 2px solid black;
    border-radius: 6px;
}
.down{
    font-size: 15px;
    padding-left: 10px;
}
.down1:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(82, 231, 114);
}
/* ------------------------------------------------------------------ */
@media (max-width:400px) {
    body{
    font-family: Arial, Helvetica, sans-serif;
    }
    .img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 10px;
    }
    h2{
        color:black;
        font-size: 20px;
        left: 0;
    }
    .nav-container{
        background-color:rgb(14, 227, 14);
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: black;
        position: sticky;
        top: 0;
        z-index: 3;
    }
    .links1{
        display: flex;
        list-style-type: none;
        align-items: center;
        font-size: 10px;
        margin-left: -50px;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    ul li{
        color: black;
        list-style: none;
        margin-left: -3px;
        margin-top: 5px;
        font-size: 10px;
    }
    ul li a{
        text-decoration: none;
        color:black;
        padding: 2px ;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    /* ------------------------------------------------------ */
    .main-container{
        width:100%;
        padding-top: 10px;
        z-index: 0;
        position: relative;
    }
    .img-1{
        width: 100%;
        height: 200px;
        position: relative;
    }
    h4{
        position: absolute;
        color: rgb(29, 58, 22);
        font-size:10px;
        left: 145px;
        top: 40px;
    }
    .btn-1{
        position: absolute;
        left: 50px;
        top: 90px;
        font-size: 10px;
        font-weight: bold;
        background-color:bisque;
        color:  rgb(29, 58, 22);
        border-color:rgb(29, 58, 22) ;
        border-radius: 10px;
    }
    .btn-1:hover{
        color: yellow;
        background-color: black;
        cursor: pointer;
        font-weight: bolder;
    }
    .para-1{
        color: black;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
    .para-2{
        font-size: 13px;
        text-align: center;
    }
    .image{
        width: 250px;
        height: 200px;
    }
    /* -------------------------4 Boxes---------------------------- */
    .sub-container-2{
        width: 100%;
        height: 285px;
        display: flex ;
        background-color:lightpink;
    }
    .container1{
        width: 78px;
        height: 250px;
        border: 2px solid grey;
        border-radius: 10px;
        margin-left: 3px;
        margin-top: 15px;
        align-items: center;
        background-color: white;
    }
    .content1{
        width: 65px;
        height: 60px;
        border: 1px solid orangered;
        border-radius: 10px;
        box-shadow: -3px -3px  orangered;
        margin-left: 5px;
        margin-top: 10px;
    }
    .content2{
        width: 65px;
        height: 60px;
        border: 1px solid rgb(60, 126, 201);
        border-radius: 10px;
        box-shadow: -3px -3px  rgb(60, 126, 201);
        margin-left: 5px;
        margin-top: 10px;
    }
    .content3{
        width: 65px;
        height: 60px;
        border: 1px solid rgb(31, 197, 23);
        border-radius: 10px;
        box-shadow: -3px -3px  rgb(31, 197, 23);
        margin-left: 5px;
        margin-top: 10px;
    }
    .content4{
        width: 65px;
        height: 60px;
        border: 1px solid rgb(203, 6, 6);
        border-radius: 10px;
        box-shadow: -3px -3px rgb(203, 6, 6);
        margin-left: 5px;
        margin-top: 10px;
    }
    .para-3{ 
        font-size: 7px;
        text-align: center;
    }
    .h1{
        text-align: center;
        font-size: 10px;
    }
    h3{
        text-align: center;
        font-weight: lighter;
    }
    .img-2{
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        height: 60px;
    }
    .para{
        font-size: 16px;
        font-weight: bold;
        align-items: center;
    }
    /* ----------------------------------------------------------------- */
    .sub-container-3{
        position: relative;
    }
    .img-3{
        width: 100%;
        height: 250px;
        position: relative;
    }
    h5{
        position: absolute;
        font-size: 20px;
        color: white;
        font-weight: bolder;
        left: 50px;
        top:100px ;
        text-align: center;
    }
    .para-4{
        position: absolute;
        color: white;
        font-size: 12px;
        text-align: center;
        left: 20px;
        top:150px ;
    }
    .btn-2{
        position: absolute;
        color: rgb(5, 90, 186);
        font-size: 10px;
        font-weight: bold;
        background-color: white;
        padding: 5px 5px 5px 5px;
        border-radius: 10px;
        border-color:rgb(5, 90, 186) ;
        left: 140px;
        top: 220px;
    }
    .btn-2:hover{
        background-color: rgb(4, 107, 107);
        color: white;
        border-color: rgb(4, 107, 107);
        cursor: pointer;
        }
    /* ------------------------------------------------------------- */
    .footer-container{
        width: 100%;
        height: 300px;
        background-color: rgb(201, 246, 187);
        margin-top: 10px;
        margin-left: -1px;
    }
    .content-container{
        display: flex;
        justify-content: space-evenly;
    }
    .sub-content{
        display: grid;
    }
    .c1{
        margin-top: 15px;
        padding: 1px;
        font-size: 25px;
    }
    .c2{
        display: flex;
        margin-top: 10px;
        
    }
    .c3{
        margin-top: 20px;
    }
    .img-4{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top:10px ;
    }
    .para-5{
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
    }
    .p{
        font-family: roboto;
        font-weight: bold;
        font-size: 12px;
    }
    p{
        font-size: 10px;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* --------------------------------------icons--------------------------- */
    .icons{
        display: flex;
        padding-top: 50px;
        padding-left: 10px;    
    }
     .icon1{
        padding-right: 10px;
        display: flex;
        justify-content: space-around;
    }
    /* --------------------------------download--------------------------- */
    .download{
        padding-left: 40px;
        display: flex;
        justify-content: space-between;
    }
    .down1{
        display: flex;
        width: 80px;
        height: 35px;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom:5px;
        border: 2px solid black;
        border-radius: 6px;
    }
    .down{
        font-size: 8px;
        padding-left: 10px;
    }
    .down1:hover{
        cursor: pointer;
        font-weight: bold;
        background-color: rgb(82, 231, 114);
    } 
}
