body{
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    border-radius: 50%;
    padding: 30px;
}

.nav-container h2 a{
    color:black;
    text-decoration: none;
    font-size: 40px;
    left: 0;
}
.nav-container{
    background-color:rgb(14, 227, 14);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black;
    position: sticky;
    top: 0;
    z-index: 3;
}
.links1{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 20px;
     
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

ul li{
    color: black;
    list-style: none;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 20px;
    


}
ul li a{
    text-decoration: none;
    color:black;
    padding: 10px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
ul li a:hover{
    cursor: pointer;
    color: yellow;
    background-color: rgb(13, 12, 12);
    border-radius: 20px;
    font-weight: bolder;
}
/* ---------------------------------------------------------- */
.main-container{
    width: 100%;
    height: 1000px;
    z-index: 0;
    position: sticky;

}
.sub-container-1 h1{
    color: rgb(17, 88, 17);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.sub-container-1 h5{
    color:crimson;
    font-size:35px ;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
.sub-container-1 p{
    font-size: 25px;
}
.sub-container-2{
    display: flex;
    flex-wrap: wrap;
    gap:16px;
    width: 100%;
    height: 2250px;
    /* border: 3px solid gray; */
    z-index:0;
    margin-left: 60px;

}
.container{
    display: flex;
    flex-wrap: wrap;
    gap:16px;
   
    
    margin-left: 10px;
    z-index: 0;
}
/* ---------------------------------- */
@media (max-width:400px){
    .img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        padding: 10px;
    }
    
    .nav-container h2 a{
        color:black;
        text-decoration: none;
        font-size: 18px;
        left: 0;
    }
    .nav-container{
        background-color:rgb(14, 227, 14);
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: black;
        position: sticky;
        top: 0;
        z-index: 3;
    }
    .links1{
        display: flex;
        list-style-type: none;
        align-items: center;
        font-size: 10px;
        margin-left: -50px;
         
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    
    ul li{
        color: black;
        list-style: none;
        margin-left: -3px;
        margin-top: 5px;
        font-size: 12px;
        
    
    
    }
    ul li a{
        text-decoration: none;
        color:black;
        padding: 2px ;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    ul li a:hover{
        cursor: pointer;
        color: yellow;
        background-color: rgb(13, 12, 12);
        border-radius: 20px;
        font-weight: bolder;
    }
    /* ---------------------------------------------------------- */
    .main-container{
        width: 100%;
        height: 1000px;
        z-index: 0;
        position: sticky;
    
    }
    .sub-container-1 h1{
        color: rgb(17, 88, 17);
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .sub-container-1 h5{
        color:crimson;
        font-size:15px ;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 10px;
    }
    .sub-container-1 p{
        font-size: 12px;
    }
    .sub-container-2{
        width: 100%;
        height: 2250px;
        z-index:0;
    
    }
    .container img{
        height: 140px;
        width: 140px;
    }
    .container{
        padding: 10px 10px 10px 10px;
        margin-left: 10px;
        z-index: 0;
    }
}
